.chatframe-container {
    position: relative;
    /* height: 400px; */
    height: calc(100vh - 100px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px groove rgba(0, 0, 0, 0.452);
    margin: 20px 0px;
}

.chatframe-header {
    text-align: center;
    margin: -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
}

.chatframe-header .chatframe-name {
    font-weight: bold;
    color: aliceblue;
    margin: 0;
}

.chatframe-header .chatframe-status {
    margin: 0;
    font-size: 11px;
}

.chatframe-online {
    color: rgb(0, 255, 0);
}

.chatframe-offline {
    color: rgb(255, 238, 0);
}

.chatframe-header .chat-star {
    position: absolute;
    left: 10px;
    top: 0;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    cursor: pointer;
}

.chatframe-header .chat-star-active {
    color: rgb(238, 255, 0);
}

.chatframe-header .chat-star:hover {
    color: rgb(238, 255, 0);
}



.chatframe-header .chat-close {
    position: absolute;
    right: 10px;
    top: 0;
    color: rgb(126, 117, 117);
    font-size: xx-large;
    cursor: pointer;
}

.chatframe-header .chat-close:hover {
    color: red;
}

.chatframe-content {
    /* height: calc(400px - 85px); */
    height: calc(100vh - 185px);
    padding: 5px;
    overflow-y: scroll;
}

.chatframe-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 5px;
    border-top: 1px solid grey;
    border-radius: 2px;
    height: 45px;
}

.chatframe-footer .chatframe-input {
    border: none;
    float: left;
    padding: 10px 15px;
    width: 90%;
}

.chatframe-footer .chatframe-addon {
    float: right;
    cursor: pointer;
    top: 5px;
    position: absolute;
    right: 15px;
    font-size: 25px;
}

.chatframe-avt {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}

.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: lighten(gray, 8%);
    padding-left: 6px;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 70%;
    position: relative;
    word-break: break-all;
}

.message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: green;
    border-width: 10px;
    margin-left: -10px;
}

.message-photo {
    border-radius: 20px;
    width: 100%;
}

.my-message {
    background: green;
}

.other-message {
    background: blue;
}

.other-message:after {
    border-bottom-color: blue;
    left: 93%;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}