.registerinfo-container {
    background-color: rgb(250, 255, 242);
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.registerinfo-header {
    margin-bottom: 50px;
    position: relative;
    top: -50px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(21, 139, 243);
}

.registerinfo-signup{
    font-weight: bold;
    margin-bottom: 20px;
}

.registerinfo-signup input{
    margin: 10px 0px;
}